In [1]:
import json
import pandas as pd

In [2]:
def create_dataframe(file_path):
    
    tweets = []
    users_id = []
    users_screen_name = []
    users_location = []
    users_followers_count = []
    users_friends_count = []
    users_verified = []
    tweets_id = []
    retweets_count = []
    favorites_count = []
    langs = []
    tweets_full_text = []

    with open(file_path, 'r') as json_file:
        json_list = list(json_file)
        for tweet in json_list:
            data = json.loads(tweet)
            tweets.append(data)
            
    for tweet in tweets:
        users_id.append(tweet['user']['id'])
        users_screen_name.append(tweet['user']['screen_name'])
        users_location.append(tweet['user']['location'])
        users_followers_count.append(tweet['user']['followers_count'])
        users_friends_count.append(tweet['user']['friends_count'])
        users_verified.append(tweet['user']['verified'])
        tweets_id.append(tweet['id'])
        retweets_count.append(tweet['retweet_count'])
        favorites_count.append(tweet['favorite_count'])
        langs.append(tweet['lang'])
        tweets_full_text.append(tweet['full_text'])
        
    df = pd.DataFrame({'users_id': users_id,
                       'users_screen_name': users_screen_name,
                       'users_location': users_location,
                       'users_followers_count': users_followers_count,
                       'users_friends_count': users_friends_count,
                       'users_verified': users_verified,
                       'tweets_id': tweets_id,
                       'retweets_count': retweets_count,
                       'favorites_count': favorites_count,
                       'langs': langs,
                       'tweets_full_text': tweets_full_text})
            
    return df

### Nubank

In [3]:
nubank_df1 = create_dataframe('data/json/nubank.tweets.jsonl')
nubank_df2 = create_dataframe('data/json/nubank_hash.tweets.jsonl')

In [4]:
nubank_df = pd.concat([nubank_df1, nubank_df2], ignore_index=True)

#### Processing data

In [5]:
nubank_df = nubank_df[(nubank_df['langs'] == 'pt') & (nubank_df['users_screen_name'] != 'nubank')]

In [6]:
nubank_df = nubank_df.drop_duplicates(subset=['tweets_full_text'])

In [7]:
nubank_df['tweets_full_text'] = nubank_df['tweets_full_text'].str.lower()

In [8]:
nubank_df = nubank_df.replace([':'],'')
nubank_df = nubank_df.replace(['.'],'')
nubank_df = nubank_df.replace([','],'')

In [9]:
nubank_df = nubank_df[~nubank_df['tweets_full_text'].str.contains('doen√ßa cr√¥nica')]
nubank_df = nubank_df[~nubank_df['tweets_full_text'].str.contains('rt')]
nubank_df = nubank_df[~nubank_df['tweets_full_text'].str.contains('pix')]
nubank_df = nubank_df[~nubank_df['tweets_full_text'].str.contains('picpay')]
nubank_df = nubank_df[~nubank_df['tweets_full_text'].str.contains('r$')]
nubank_df = nubank_df[~nubank_df['tweets_full_text'].str.contains('venda')]
nubank_df = nubank_df[~nubank_df['tweets_full_text'].str.contains('dm')]

In [10]:
len(nubank_df)

10506

#### Export dataframe to csv

In [11]:
nubank_df.to_csv('data/csv/nubank_df.csv', index=False)

### Banco Inter

In [12]:
inter_df1 = create_dataframe('data/json/Bancointer.tweets.jsonl')
inter_df2 = create_dataframe('data/json/banco_inter.tweets.jsonl')

In [13]:
inter_df = pd.concat([inter_df1, inter_df2], ignore_index=True)

#### Processing data

In [14]:
inter_df = inter_df[(inter_df['langs'] == 'pt') & (inter_df['users_screen_name'] != 'Bancointer')]

In [15]:
inter_df = inter_df.drop_duplicates(subset=['tweets_full_text'])

In [16]:
inter_df['tweets_full_text'] = inter_df['tweets_full_text'].str.lower()

In [17]:
inter_df['tweets_full_text'] = inter_df['tweets_full_text'].replace([':'],'')
inter_df['tweets_full_text'] = inter_df['tweets_full_text'].replace(['.'],'')
inter_df['tweets_full_text'] = inter_df['tweets_full_text'].replace([','],'')

In [18]:
inter_df = inter_df[~inter_df['tweets_full_text'].str.contains('doen√ßa cr√¥nica')]
inter_df = inter_df[~inter_df['tweets_full_text'].str.contains('rt')]
inter_df = inter_df[~inter_df['tweets_full_text'].str.contains('pix')]
inter_df = inter_df[~inter_df['tweets_full_text'].str.contains('picpay')]
inter_df = inter_df[~inter_df['tweets_full_text'].str.contains('r$')]
inter_df = inter_df[~inter_df['tweets_full_text'].str.contains('venda')]
inter_df = inter_df[~inter_df['tweets_full_text'].str.contains('dm')]

In [19]:
len(inter_df)

2342

#### Export dataframe to csv

In [20]:
inter_df.to_csv('data/csv/inter_df.csv', index=False)

### Banco C6

In [21]:
c6_df1 = create_dataframe('data/json/c6.tweets.jsonl')
c6_df2 = create_dataframe('data/json/C6Bank.tweets.jsonl')
c6_df3 = create_dataframe('data/json/banco_c6.tweets.jsonl')

In [22]:
c6_df = pd.concat([c6_df1, c6_df2, c6_df3], ignore_index=True)

#### Processing data

In [23]:
c6_df = c6_df[(c6_df['langs'] == 'pt') & (c6_df['users_screen_name'] != 'C6Bank')]

In [24]:
c6_df = c6_df.drop_duplicates(subset=['tweets_full_text'])

In [25]:
c6_df['tweets_full_text'] = c6_df['tweets_full_text'].str.lower()

In [26]:
c6_df['tweets_full_text'] = c6_df['tweets_full_text'].replace([':'],'')
c6_df['tweets_full_text'] = c6_df['tweets_full_text'].replace(['.'],'')
c6_df['tweets_full_text'] = c6_df['tweets_full_text'].replace([','],'')

In [27]:
c6_df = c6_df[~c6_df['tweets_full_text'].str.contains('doen√ßa cr√¥nica')]
c6_df = c6_df[~c6_df['tweets_full_text'].str.contains('rt')]
c6_df = c6_df[~c6_df['tweets_full_text'].str.contains('pix')]
c6_df = c6_df[~c6_df['tweets_full_text'].str.contains('picpay')]
c6_df = c6_df[~c6_df['tweets_full_text'].str.contains('r$')]
c6_df = c6_df[~c6_df['tweets_full_text'].str.contains('venda')]
c6_df = c6_df[~c6_df['tweets_full_text'].str.contains('dm')]

In [28]:
len(c6_df)

1405

#### Export dataframe to csv

In [29]:
c6_df.to_csv('data/csv/c6_df.csv', index=False)

### Banco Next

In [30]:
next_df1 = create_dataframe('data/json/banco_next.tweets.jsonl')
next_df2 = create_dataframe('data/json/falanext.tweets.jsonl')

In [31]:
next_df = pd.concat([next_df1, next_df2], ignore_index=True)

#### Processing data

In [32]:
next_df = next_df[(next_df['langs'] == 'pt') & (next_df['users_screen_name'] != 'falanext')]

In [33]:
next_df = next_df.drop_duplicates(subset=['tweets_full_text'])

In [34]:
next_df['tweets_full_text'] = next_df['tweets_full_text'].str.lower()

In [35]:
next_df['tweets_full_text'] = next_df['tweets_full_text'].str.lower()

In [36]:
next_df['tweets_full_text'] = next_df['tweets_full_text'].replace([':'],'')
next_df['tweets_full_text'] = next_df['tweets_full_text'].replace(['.'],'')
next_df['tweets_full_text'] = next_df['tweets_full_text'].replace([','],'')

In [37]:
next_df = next_df[~next_df['tweets_full_text'].str.contains('doen√ßa cr√¥nica')]
next_df = next_df[~next_df['tweets_full_text'].str.contains('rt')]
next_df = next_df[~next_df['tweets_full_text'].str.contains('pix')]
next_df = next_df[~next_df['tweets_full_text'].str.contains('picpay')]
next_df = next_df[~next_df['tweets_full_text'].str.contains('r$')]
next_df = next_df[~next_df['tweets_full_text'].str.contains('venda')]
next_df = next_df[~next_df['tweets_full_text'].str.contains('dm')]

In [38]:
len(next_df)

513

In [39]:
next_df

,users_id,users_screen_name,users_location,users_followers_count,users_friends_count,users_verified,tweets_id,retweets_count,favorites_count,langs,tweets_full_text
0,795785230661648384,marieuso,"Bel√©m, Brasil",690,539,False,1390718660512190466,0,3,pt,um lixo o banco next um lixo imprestavel . lix...
1,1389305478837047297,oxinyard,,25,59,False,1390718389186859009,0,0,pt,foi s√≥ eu come√ßar a pesquisar sobre abrir cont...
2,1378071741684183042,GanheDi85379078,,1,1,False,1390718222329131017,0,0,pt,@memenginho üî•banco next pagando at√© r$200 por ...
3,1378071741684183042,GanheDi85379078,,1,1,False,1390718017722585095,0,0,pt,@boilingcastle üî•banco next pagando at√© r$200 p...
4,1378071741684183042,GanheDi85379078,,1,1,False,1390717957945368581,0,0,pt,@rick19292830 üî•banco next pagando at√© r$200 po...
...,...,...,...,...,...,...,...,...,...,...,...
1550,112897001,FalleNCS,,1103517,1323,True,1387978367702605827,0,9,pt,@josejorgedlucca @falanext @fallenstorebr mand...
1551,733056324884402181,josejorgedlucca,PR,195,606,False,1387975848192532486,0,0,pt,@falanext @fallenstorebr e o cupom n√£o t√° func...
1553,733056324884402181,josejorgedlucca,PR,195,606,False,1387975433765990405,0,2,pt,@falanext @fallencs @fallenstorebr fake! fui h...
1556,1086740901941182465,GiFerro2,,19,380,False,1387963603521835011,0,0,pt,@fallencs @falanext @fallenstorebr presente pr...
1557,132503689,DaniloSoarex,Wakanda - CE,2424,990,False,1387962167975153669,0,0,pt,finalmente o next fazendo uma parceria dahora ...

#### Export dataframe to csv

In [40]:
next_df.to_csv('data/csv/next_df.csv', index=False)