In [1]:
import json
import pandas as pd

In [2]:
def create_dataframe(file_path):
    
    tweets = []
    users_id = []
    users_location = []
    users_followers_count = []
    users_friends_count = []
    users_verified = []
    tweets_id = []
    retweets_count = []
    favorites_count = []
    langs = []
    tweets_full_text = []

    with open(file_path, 'r') as json_file:
        json_list = list(json_file)
        for tweet in json_list:
            data = json.loads(tweet)
            tweets.append(data)
            
    for tweet in tweets:
        users_id.append(tweet['user']['id'])
        users_location.append(tweet['user']['location'])
        users_followers_count.append(tweet['user']['followers_count'])
        users_friends_count.append(tweet['user']['friends_count'])
        users_verified.append(tweet['user']['verified'])
        tweets_id.append(tweet['id'])
        retweets_count.append(tweet['retweet_count'])
        favorites_count.append(tweet['favorite_count'])
        langs.append(tweet['lang'])
        tweets_full_text.append(tweet['full_text'])
        
    df = pd.DataFrame({'users_id': users_id,
                       'users_location': users_location,
                       'users_followers_count': users_followers_count,
                       'users_friends_count': users_friends_count,
                       'users_verified': users_verified,
                       'tweets_id': tweets_id,
                       'retweets_count': retweets_count,
                       'favorites_count': favorites_count,
                       'langs': langs,
                       'tweets_full_text': tweets_full_text})
            
    return df

In [3]:
tweets_df1 = create_dataframe('data/nubank.tweets.jsonl')
tweets_df2 = create_dataframe('data/nubank_hash.tweets.jsonl')

In [4]:
tweets_df = pd.concat([tweets_df1, tweets_df2], ignore_index=True)

In [5]:
tweets_df

,users_id,users_location,users_followers_count,users_friends_count,users_verified,tweets_id,retweets_count,favorites_count,langs,tweets_full_text
0,2917412709,"Rio das Ostras, Brasil",809,720,False,1390309072826740736,0,0,und,@nubank Ok
1,1619094547,,1248,121,False,1390308761261199360,0,0,pt,fui pagar uns boletos na segunda feira e um ml...
2,89504079,"M√©xico, D.F.",235966,40796,True,1390308689760894977,2,0,es,RT @pbarbieri: @uala_mx @gchaviles @unocero @n...
3,3434224001,Moon,260,381,False,1390308606273212416,26,0,pt,RT @minjubs: Itens de kpop que estou vendendo ...
4,1229738597714157569,"S√£o Paulo, Brasil",53,146,False,1390308549843095552,0,1,pt,"06/05 e eu possuo 6 reais para gastar, esse m√™..."
...,...,...,...,...,...,...,...,...,...,...
25324,359088370,CWB,1079,1324,False,1387806654306136072,0,0,pt,Voc√™ recebeu uma indica√ß√£o para conhecer o Nub...
25325,525045677,S√£o Paulo - SP,33,316,False,1387798865957502980,0,0,pt,Primeiro trof√©u da minha !\nObrigado #nubank @...
25326,1117563693473116160,Ribeir√£o Preto - SP,9,42,False,1387784092540968961,0,0,pt,"Criado e lan√ßado em 2013, o Banco Digital NuBa..."
25327,1312730478114410499,Tatu√≠,1,3,False,1387753542375677955,0,0,und,#carteiradeinvestimentos #tatui #cidadecerquil...
25328,1290853012466958336,1JULIETTE x 2GIL X 3CAMILAü¶äüåµ,64,595,False,1387602149610242048,0,0,pt,@nubank Eu s√≥ queria um presente ( limite)üéÅ pr...

In [6]:
tweets_df.to_csv('data/tweets_df.csv', index=False)